<footer>
    <div class="footer-info">
        <div class="info-section">
            <h2>Programme Leaders</h2>

            <ul>
                <li>Info Comms
                    <a href="mailto:j.r.griffiths@mmu.ac.uk">Jill Griffiths</a>
                </li>
                <li>Digital Media
                    <a href="mailto:Alex.Hughes@mmu.ac.uk">Alex Hughes</a>
                </li>
                <li>Web Dev
                    <a href="mailto:r.eskins@mmu.ac.uk">Richard Eskins</a>
                </li>
            </ul>
            <p>Combined Honours enquiries to
                <a href="mailto:Alex.Hughes@mmu.ac.uk">Alex Hughes</a>
            </p>

        </div>
        <div class="info-section">

            <h2>Need help?</h2>

            <p>Contact the Student Support Officer, David Peters by phone on 0161 247 6459, via e-mail:
                <a href="mailto:d.peters@mmu.ac.uk">d.peters@mmu.ac.uk</a> or drop into the Manton Hub.</p>
        </div>
    </div>
    <p>
        &copy; 2018 &middot; Still stuck? Contact
        <a href="mailto:r.eskins@mmu.ac.uk">Richard Eskins</a>
    </p>

</footer>