<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    {% include mmu-type.html %}
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body id="top">{% include mmu-header.html %}


    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>


    {% include mmu-footer.html %}
</body>

</html>

</html>